// Place all the styles related to the Indoor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container {
    position: relative;
    width: 816px;
    height: 579px;
}

.floorplan {
    width: 100%;
    height: 100%;
}

#overlay {
//    position: relative;
    position: absolute;
    width: 10px;
    height: 10px;
    background: mediumvioletred;
}
